<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="my-hello">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `my-hello`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyHello extends Polymer.Element {
      static get is() { return 'my-hello'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'my-hello'
          }
        };
      }
      connectedCallback() {
        super.connectedCallback();
        //we reference desired channel..
        const saludoChannel = Cells.Bus.channel('saludo');

        //Channel subscription
        saludoChannel.subscribe(this._handleAnnouncer.bind(this));
      }
      _handleAnnouncer(msg){
        this.set('prop1',msg);
      }
    }

    window.customElements.define(MyHello.is, MyHello);
  </script>
</dom-module>
