<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-molecule-spinner/cells-molecule-spinner.html">

<link rel="import" href="../components/comments/comments-dm.html">
<link rel="import" href="../components/comments/comments-list.html">

<dom-module id="post-comments-page">
  <template>
    <style is="custom-style"></style>

    <post-comments-dm
      id="postCommentsDM"
      on-post-comments-loaded="postCommentsLoaded"
      on-post-comments-loading-start="startLoad"
      on-post-comments-loading-finish="finishLoad">
    </post-comments-dm>

    <comments-list
      comments="[[comments]]">
    </comments-list>

    <cells-molecule-spinner
      id="loader"
      hidden>
    </cells-molecule-spinner>
  </template>

  <script>
    class PostCommentsPage extends Polymer.Element {
      static get is() {
        return 'post-comments-page';
      }

      static get properties() {
        return {
          comments: {
            type: Array,
            value: []
          },
          params: {
            type: Object,
            value: {}
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();

        const options = { value: true };
        const postId = this.get('params.post-id');

        this.$.postCommentsDM.set('postId', postId);
        this.$.postCommentsDM.loadPostComments(options);
      }

      postCommentsLoaded(e) {
        const comments = e.detail;

        this.set('comments', Object.assign([], comments));
      }

      startLoad() {
        this.$.loader.removeAttribute('hidden');
      }

      finishLoad() {
        this.$.loader.setAttribute('hidden', true);
      }
    }

    customElements.define(PostCommentsPage.is, PostCommentsPage);
  </script>
</dom-module>
