<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="products-page">
  <template>
    <style is="custom-style"></style>

    <h1>Products</h1>
  </template>

  <script>
    class ProductsPage extends Polymer.Element {
      static get is() {
        return 'products-page';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {

        };
      }
    }

    customElements.define(ProductsPage.is, ProductsPage);
  </script>
</dom-module>
