<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="restricted-access-page">
  <template>
    <style is="custom-style"></style>

    <h3>You are trying to access a private page - Route transition has been rejected with different route than default one.</h3>
  </template>

  <script>
    class RestrictedAccessPage extends Polymer.Element {
      static get is() {
        return 'restricted-access-page';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {

        };
      }
    }

    customElements.define(RestrictedAccessPage.is, RestrictedAccessPage);
  </script>
</dom-module>
