<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-molecule-spinner/cells-molecule-spinner.html">

<link rel="import" href="../components/posts/posts-dm.html">
<link rel="import" href="../components/posts/posts-list.html">

<dom-module id="user-posts-page">
  <template>
    <style is="custom-style"></style>

    <posts-dm
      id="userPostsDM"
      on-user-posts-loaded="userPostsLoaded"
      on-users-posts-loading-start="startLoad"
      on-user-posts-loading-finish="finishLoad">
    </posts-dm>

    <posts-list
      posts="[[posts]]"
      on-post-selected="navigateToPost">
    </posts-list>

    <cells-molecule-spinner
      id="loader"
      hidden>
    </cells-molecule-spinner>
  </template>

  <script>
    class UserPostsPage extends Polymer.Element {
      static get is() {
        return 'user-posts-page';
      }

      static get properties() {
        return {
          posts: {
            type: Array,
            value: []
          },
          params: {
            type: Object,
            value: {}
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();

        const options = { value: true };
        const userId = this.get('params.user-id');

        this.$.userPostsDM.set('userId', userId);
        this.$.userPostsDM.loadUserPosts(options);
      }

      userPostsLoaded(e) {
        const posts = e.detail;

        this.set('posts', Object.assign([], posts));
      }

      startLoad() {
        this.$.loader.removeAttribute('hidden');
      }

      finishLoad() {
        this.$.loader.setAttribute('hidden', true);
      }

      navigateToPost(e) {
        const post = e.detail;
        const routeParams = {
          'post-id': post.id,
          'post-name': post.title
        };

        Cells.Router.navigate('post-comments', routeParams);
      }
    }

    customElements.define(UserPostsPage.is, UserPostsPage);
  </script>
</dom-module>
