
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-molecule-spinner/cells-molecule-spinner.html">

<link rel="import" href="../components/users/users-list.html">

<link rel="import" href="../../bower_components/flip-clock/flip-clock.html">
<link rel="import" href="../components/users/users-dm.html">

<link rel="import" href="../components/say/say-dp.html">
<link rel="import" href="../components/hello/my-hello.html">

<dom-module id="users-page">
  <template>
    <style is="custom-style"></style>

    <flip-clock></flip-clock>
    <my-hello></my-hello>
    <say-dp></say-dp>

    <users-dm
      id="usersDM"
      on-users-loaded="usersLoaded"
      on-users-loading-start="startLoad"
      on-users-loading-finish="finishLoad">
    </users-dm>

    <users-list
      users="[[users]]"
      on-user-selected="navigateToUser">
    </users-list>

    <cells-molecule-spinner
      id="loader"
      hidden>
    </cells-molecule-spinner>
  </template>

  <script>
    class UsersPage extends Polymer.Element {
      static get is() {
        return 'users-page';
      }

      // Declare properties for the element's public API
      static get properties() {
        return {
          users: {
            type: Array,
            value: []
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();

        this.$.usersDM.loadUsers();
      }

      usersLoaded(e) {
        const users = e.detail;

        this.set('users', Object.assign([], users));
      }

      startLoad() {
        this.$.loader.removeAttribute('hidden');
      }

      finishLoad() {
        this.$.loader.setAttribute('hidden', true);
      }

      navigateToUser(e) {
        const detail = e.detail;
        const routeParams = {
          'user-id': detail.id,
          'user-name': detail.name
        };

        Cells.Router.navigate('user-posts', routeParams);
      }
    }

    customElements.define(UsersPage.is, UsersPage);
  </script>
</dom-module>
