<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../../bower_components/paper-progress/paper-progress.html">

<dom-module id="app-navigation-bar">
  <template>
    <style is="custom-style">
      paper-progress {
        width: 100%;
      }
    </style>

    <cells-component-app-header text=[[title]] class="light"></cells-component-app-header>
    <paper-progress id="progress" indeterminate hidden$=[[hiddenProgress]]></paper-progress>

    <ul>
      <li>
        <a href="/#">Home</a>
      </li>
      <li>
        <a href="/#/about">About (Private)</a>
      </li>
      <li>
        <a href="/#/products">Products</a>

        <ul>
          <li>
            <a href="/#/products/accounts">Accounts</a>
          </li>
        </ul>
      </li>
      <li>
        <a href$="/#/[[_random()]]">Random (not defined)</a>
      </li>
      <li>
        <a href="javascript:window.history.back();">Go Back</a>
      </li>
      <li>
        <button on-click="_toggleAuthenticationState">Toggle authentication state</button>
      </li>
    </ul>
  </template>

  <script>
    class AppNavigationBar extends Polymer.Element {
      static get is() {
        return 'app-navigation-bar';
      }

      static get properties() {
        return {
          title: {
            type: String,
            value: ''
          },
          hiddenProgress: {
            type: Boolean,
            value: true
          }
        };
      }

      showProgressBar() {
        this.set('hiddenProgress', false);
      }

      hideProgressBar() {
        this.set('hiddenProgress', true);
      }

      _random() {
        const possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        let text = '';

        for (let i = 0; i < 5; i++) {
          text += possible.charAt(Math.floor(Math.random() * possible.length));
        }

        return text;
      }

      _toggleAuthenticationState() {
        const currentState = sessionStorage.getItem('isLogged') === "true" || false;
        const message = 'You have toggled ' + ( currentState ? 'off' : 'on' ) + ' your authentication.';

        sessionStorage.setItem('isLogged', !currentState);

        Cells.Bus.channel('broadcast').publish(message);

        // or we could have fired an event and handle it on app-shell instead of use Bus
      }
    }

    customElements.define(AppNavigationBar.is, AppNavigationBar);
  </script>
</dom-module>
