<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="post-comments-dm">
  <template>
    <style></style>

    <cells-generic-dp
      id="postCommentsDM"
      host="https://jsonplaceholder.typicode.com"
      path="posts/[[postId]]/comments"
      method="GET">
    </cells-generic-dp>
  </template>

  <script>
    class PostCommentsDM extends Polymer.Element {
      static get is() {
        return 'post-comments-dm';
      }

      static get properties() {
        return {
          postId: {
            type: String,
            value: ''
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();

        this.addEventListener('request-success', e => this._postCommentsLoaded(e));
      }

      disconnectedCallback() {
        super.disconnectedCallback();

        this.removeEventListener('request-success', this._postCommentsLoaded);
      }

      loadPostComments() {
        this.dispatchEvent(new CustomEvent('post-comments-loading-start', { detail: true }));

        this.$.postCommentsDM.generateRequest();
      }

      _postCommentsLoaded(event) {
        var postComments = event.detail;

        this.dispatchEvent(new CustomEvent('post-comments-loading-finish', { detail: false }));
        this.dispatchEvent(new CustomEvent('post-comments-loaded', { detail: postComments }));
      }
    }

    customElements.define(PostCommentsDM.is, PostCommentsDM);
  </script>
</dom-module>
