<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="users-list">
  <template>
    <style>
      li {
        cursor: pointer;
      }
    </style>

    <ul>
      <template is="dom-repeat" items="[[users]]" as="user">
        <li>
          <div on-click="_userClicked">
            <h1>[[user.username]] ([[user.name]])</h1>
            <h3>[[user.company.name]]</h3>
          </div>

          <h5><a href="mailto:[[user.email]]">[[user.email]]</a></h5>
          <p><a href="http://[[user.website]]" target="_blank">[[user.website]]</a></p>
        </li>
      </template>
  </ul>
  </template>

  <script>
    class UsersList extends Polymer.Element {
      static get is() {
        return 'users-list';
      }

      static get properties() {
        return {
          users: {
            type: Array,
            value: []
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();
      }

      _userClicked(event) {
        const user = event.model.user;
        const detail = {
          id: user.id,
          name: this._cleanUserName(user.username)
        };

        this.dispatchEvent(new CustomEvent('user-selected', { detail }));
      }

      _cleanUserName(userName) {
        return userName.replace(/\s+/g, '-').toLowerCase();
      }
    }

    customElements.define(UsersList.is, UsersList);
  </script>
</dom-module>
