<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="users-dm">
  <template>
    <style></style>

    <cells-generic-dp
      id="usersDP"
      host="https://jsonplaceholder.typicode.com"
      path="users"
      method="GET">
    </cells-generic-dp>
  </template>

  <script>
    class UsersDM extends Polymer.Element {
      static get is() {
        return 'users-dm';
      }

      static get properties() {
        return {
          loaded: {
            type: Boolean,
            value: false
          }
        };
      }

      connectedCallback() {
        super.connectedCallback();

        this.addEventListener('request-success', e => this._usersLoaded(e));
      }

      disconnectedCallback() {
        super.disconnectedCallback();

        this.removeEventListener('request-success', this._usersLoaded);
      }

      loadUsers() {
        if (this.get('loaded')) {
          return;
        }

        this.dispatchEvent(new CustomEvent('users-loading-start', { detail: true }));

        this.$.usersDP.generateRequest();
      }

      _usersLoaded(event) {
        const users = event.detail;

        this.dispatchEvent(new CustomEvent('users-loading-finish', { detail: false }));
        this.dispatchEvent(new CustomEvent('users-loaded', { detail: users }));

        this.set('loaded', true);
      }
    }

    customElements.define(UsersDM.is, UsersDM);
  </script>
</dom-module>
